{{define "body"}}
<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Contact Us</h2>
        <p>Thank you.</p>
    </header>
    <div class="container">
        <section>
            <p class="large-text">Thank you. We shall be in touch soon.</p>


        </section>
    </div>
</section>
<script language="javascript" type="text/javascript">
var sasstring ="<img src=\"https://track.paydot.com/sale.php?ht=img&value=0&oid=" + Date.now() + "&sid=1810\" width=\"1\" height=\"1\">";
document.write(sasstring);
</script>
{{ end }}